# docker-compose.yml
version: '3.12'

services:
  fastapi-app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=mysql+aiomysql://root:root123@mysql:3306/heartDb?charset=utf8mb4
      - REDIS_URL=redis://redis:6379/0
      - S3_ENDPOINT=http://minio:9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET_NAME=video-frames
      - S3_REGION=us-east-1
      - USE_SSL=false
      - STORAGE_MODE=local
      - LOG_LEVEL=INFO
      - DEBUG=False
    depends_on:
      - mysql
      - redis
      - minio
    volumes:
      - ./logs:/app/logs
      - ./data/videos:/app/data/videos


  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: heartDb
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    command: redis-server --requirepass "letmein123"

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"

  minio-setup:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      mc alias set minio http://minio:9000 minioadmin minioadmin;
      mc mb minio/video-frames --ignore-existing;
      exit 0;
      "