aiofiles==25.1.0
aiomysql==0.3.2
boto3==1.41.3
botocore==1.41.3
fastapi==0.122.0
loguru==0.7.3
numpy==2.3.5
pydantic==2.12.5
pydantic_settings==2.12.0
pytest==9.0.1
redis==4.5.0
scipy==1.16.3
SQLAlchemy==2.0.44
torch==2.9.1
uvicorn==0.38.0
mediapipe
opencv-contrib-python