fastapi~=0.121.1
pydantic~=2.12.4
uvicorn~=0.38.0
loguru==0.7.3

redis==4.5.0
sqlalchemy==2.0.44
pydantic-settings
aiomysql
pymysql
aiofiles
torch
numpy
boto3
cryptography
scipy
mediapipe
opencv-contrib-python
python-multipart